.slides {
    position: relative;
    height: 100%;
}

.slide {
    position: absolute;
    height: 100%;
    width: 100%;
}

.slide {
    text-align: center;

    img, video {
        display: inline-block;
        width: auto;
        height: 100%;
    }
}
